@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;;
}

.name{
    text-align: center;
    color: dodgerblue;
}

.img{
    margin-top: 3%;
    text-align: center;
}

.img img{
    border-radius: 50%;
}

.hist{
    margin: 0 100px 0 100px;
    text-align: center;
}

.hist p{
    text-align: justify;
}

.tabela{
    margin: 0 100px 0 100px;
}

.aux{
    margin: 0 7px 0 7px;
}

.aux2{
    text-align: center;
}

.aux2{
    vertical-align: text-top;
}

table{
    margin: auto;
}

hr{
    margin: 0 130px 0 130px;
}