<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="..\css\meu_portfolio.css" rel="stylesheet">
        <title>Portfólio do Matheus</title>
    </head>
    <body>
        <div id="banner">
            <div id="img-banner">
                <img src="..\imagens\banner\portfolio_banner.jpg" alt="banner" width="1000px" height="300px">
                <div id="cont-banner">Portfólio do Matheus</div>
            </div>
        </div>
        <div id="conteudo">
            <nav id="menu">
                <ul>
                    <li><a href="..\..\index.html">Home</a></li>
                    <li>|</li>
                    <li><a href="sobre_mim.html">Sobre Mim</a></li>
                    <li>|</li>
                    <li><a href="meu_portfolio.html">Meu Portfólio</a></li>
                </ul>
            </nav>
            <h1>Meu Portfólio</h1>
            <table>
                <tr>
                    <td rowspan="5"><img id="img_perfil" src="..\imagens\perfil\perfil.jpg" width="200px" height="200px"></td>
                    
                    <td><b>Estudante de Ciência da Computação na Universidade Federal de Mato Grosso</b></td>
                </tr>
                <tr>
                    <td><b>Nome: </b>Matheus Alves de Rezende</td>
                </tr>
                <tr>
                    <td><b>Endereço: </b>Rua Antônia Moura Peres, L.01, Q.06</td>
                </tr>
                <tr>
                    <td><b>Telefone: </b>(66)4002-8922</td>                    
                </tr>
                <tr>
                    <td><b>Email: </b>matheus@hotmail.com</td>                    
                </tr>
            </table>
            <h2 id="titulo2">Resumo</h2>
            <p><b>Matheus Alves de Rezende</b> foi técnico em Análise e Desenvolvimento de Sistemas(TADS)
            pelas Faculdades Unidas do Vale do Araguaia (U.N.I.V.A.R), em 2017. Em 2018 entrou no curso bacharel
            de Ciência da Computação (UFMT) e atualmente é estudante deste curso.
            </p>
            </br> 
            <h2 id="titulo2">Meus Projetos</h2>
            <p>Projeto de um app para o gerenciamento de plantas </br><b>Android e IOS</b></p>
            <p>Projeto de um Jogo Jokepô(Pedra, Papel e Tesoura) </br><b>Android e IOS</b></p>
            <p>Projeto de um aluguel de carros</br><b>Java</b></p>
            </br> 
            <h2 id="titulo2">Atividades Profissionais</h2>
            <p>Programador de dispositivos móveis</br><b>Flutter, mysql, PostgreSQL</b></p>

            <footer>
                <nav>
                    <h2>Navegue no site</h2>
                    <ul>
                        <li><a href="..\..\index.html"><img src="..\imagens\icones\house.png" width="30px" height="30px">Home</a></li> 
                        <li><a href="sobre_mim.html"><img src="..\imagens\icones\man.png" width="30px" height="30px">Sobre mim</a></li>
                        <li><a href="meu_portfolio.html"><img src="..\imagens\icones\book.png" width="30px" height="30px">Meu Portfólio</a></li>
                    </ul>
                </nav>
                <nav>
                    <h2>Minhas redes sociais</h2>
                    <ul>
                        <li><a href="#"><img src="..\imagens\icones\ico_email.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_twitter.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_facebook.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_github.png" width="30px" height="30px"></a></li>
                        <li><a href="#"><img src="..\imagens\icones\ico_whatsapp.png" width="30px" height="30px"></a></li>
                    </ul>
                </nav>
                <small>Copyright © 2021 </small>
            </footer>
        </div>
    </body>
</html>