body {
    background-color: rgb(168, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    font-size: 1.3em;
    background-image: url("download (3).jfif");

}
.menu {
    background-color: rgb(144, 190, 190);
    border-radius: 0.5em;
    height: 49px;
    line-height: 49px;
    margin-top:-8px ;    
}


.descricao {
    margin-top: 5em;
   
}

a{
    text-decoration: none;
}

ul {
    list-style: square;
    list-style-position: inside;
   
}

a:hover {
    color: rgb(55, 225, 231);
}

.content {
    background-color:rgb(102, 128, 128) ;
    width: 800px;
    height: 50em;
    margin: 0px auto 0px auto;
}

table {
    margin-top: 4em;
    border-color: black;
}

.likes{
    margin-top: 4em;
}

.likes {
    text-shadow: 1px 1px #ff0000;
}