@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background-color: rgb(255, 255, 255);
    
}

#img-banner{
    text-align: center;
    
}

#conteudo{
    background-color: rgb(22, 61, 83);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

#conteudo h1{
    padding: 50px 0 0 0;
    text-align: center;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#conteudo h2{
    text-align: center;
    text-shadow: 0.05em 0.1em 0.1em black;
}

#conteudo p{
    font-size: 20pt;
    text-align: justify;
    padding: 20px 100px 10px 100px;
}

#menu{
    background-color: rgb(183, 194, 183);
    border-style: outset;
    text-align: center;
}

#menu ul li{
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 18pt;
    padding: 15px;
}

#menu ul li a{ 
    padding: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-style: unset;


}

#menu ul li :hover{
    text-shadow: 0.1em 0.1em 0.4em black;
}

#banner{
    text-align: center;
}

#cont-banner{
    position: relative;
    bottom: 200px;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 50pt;

}

footer{
    background-color: rgb(20, 82, 117);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
}

footer ul{
    text-align: center;
}

footer ul li{
    display: inline;
    padding: 20px;
    font-size: 15pt;
}

footer ul li a{
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
