@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');

/* font-family: 'JetBrains Mono', monospace; */
/* font-family: 'Mohave', sans-serif; */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

.container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-areas: "esquerda direita";
  padding: 6% 15% 0 15%;
}

.esquerda {
  grid-area: esquerda;
}

.eu-img {
  margin-top: 30%;
  text-align: center;
}

.eu-img img {
  border-radius: 50%;
}

.eu-descricao {
  text-align: center;
}

.eu-descricao p {
  font-size: 21px;
  font-family: 'Mohave', sans-serif;
}

a img {
  width: 40px;
  height: 40px;
}

.direita {
  grid-area: direita;
  padding-left: 3%;
  border-left: 1px solid rgb(63, 63, 63);
  font-family: 'Mohave', sans-serif;
}

.direita h1 {
  font-size: 33px;
  font-family: 'JetBrains Mono', monospace;
}

.direita p, li {
  text-align: justify;
  font-size: 23px;
}

#tres-pontos {
  text-align: center;
  font-size: 30px;
  font-family: 'JetBrains Mono', monospace;
}
